{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../static/css/admin/add_user.css" />
    <link
      rel="shortcut icon"
      href="{% static 'image/logo.png' %}"
      type="image/x-icon"
    />
  </head>
  <body>
    <!-- Top Bar -->
    <div class="topbar">
      <div class="topbar-left">PMCI Admin Dashboard</div>
      <div class="topbar-right">
        <form action="{% url 'logout' %}" method="post" style="display: inline">
          {% csrf_token %}
          <button type="submit" class="logout-link">Logout</button>
        </form>
      </div>
    </div>

    <!-- Sidebar + Main -->
    <div class="dashboard-container">
      <!-- Sidebar -->
      <div class="sidebar">
        <a href="{% url 'add_user' %}">Account Management</a>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Add User</button>
          <a href="{% url 'user_management' %}" class="btn btn-secondary"
            >Back to User Management</a
          >
        </form>
      </div>
    </div>
  </body>
</html>
