{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="../static/css/admin/user_management.css">
  <link rel="shortcut icon" href="{% static 'image/logo.png' %}" type="image/x-icon"/>
</head>
<body>
  <!-- Top Bar -->
  <div class="topbar">
    <div class="topbar-left">PMCI Admin Dashboard</div>
    <div class="topbar-right">
      <form action="{% url 'logout' %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="logout-link">Logout</button>
      </form>
    </div>
  </div>

  <!-- Sidebar + Main -->
  <div class="dashboard-container">
    <!-- Sidebar -->
    <div class="sidebar">
      <a href="{% url 'user_management' %}">Account Management</a>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <h1>User Management</h1>
        <button><a href="{% url 'add_user' %}">Add</a></button>
        <div>
            <div>
                <h2>Users</h2> 
                <table>
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ users.username }}</td>
                            <td>{{ users.email }}</td>
                            <td>{{ users.role }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>

            </div>
            <P>Accounts {{ users.user }}</P>
            <p></p>
        </div>
    </div>
  </div>

</body>
</html>