{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registrar Dashboard</title>
  <link rel="stylesheet" href="../static/css/registrar/docreq.css">
  <link rel="shortcut icon" href="{% static 'image/logo.png' %}" type="image/x-icon"/>

</head>
<body>
  <!-- Top Bar -->
  <div class="topbar">
    <div class="topbar-left">PMCI Registrar Dashboard</div>
    <div class="topbar-right">
      <form action="{% url 'logout' %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="logout-link">Logout</button>
    </div>
  </div>

  <!-- Sidebar + Main -->
  <div class="dashboard-container">
    <!-- Sidebar -->
    <div class="sidebar">
      <a href="{% url 'registrar_dashboard' %}">Dashboard</a>
      <a href="{% url 'studentrecord' %}">Student Record</a>
      <a href="{% url 'docreq' %}">Document Request</a>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <h1>Document Requests</h1>
    </div>
  </div>
</body>
</html>
